body{
  text-align: centre;
  padding: 70px;
  background-color: rgb(45, 173, 45);
  font-family: cursive;
}

#container{
    margin-left: auto;
    margin-right: auto;
  display: flex;
  justify-content: flex;
}
